.navbar {
    background-color: gray;
    height: auto;
}

.footer {
    background-color: gray;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Prevent modal from being blocked by navbar */
.modal-backdrop {
    display: none;
 }

 /* .col-lg-6 {
     border-radius: 1px;
     border-style: solid;
 } */

 /* .shadow-lg {
     box-shadow: 2px 2px 20px gray;
     border-radius: 1px;
     border-style: solid;
     border-color: gray;
 } */